h1 {
   border: 2px solid DarkBlue;
      position: relative;
   left: 500px;
}
h2 {
   border: 2px solid DarkBlue;
}
#test {
   margin: auto;
}
body {
   width: 500%;
   max-height: 100%;
   overflow-y: hidden;
   box-sizing: border-box;
   overflow: auto;
}

#About {
   position: absolute;
   top: 86px;
   right: 932px;
}

a {
   text-decoration: none;
   color: black;
}

.con {
   position: absolute;
   right: 870px;
   bottom: 80px;
}
.con a {
   font-size: 20px;
   font-weight: bold;
}

.des {
      position: absolute;
   right: 870px;
   bottom: 80px;
}
.des a {
   font-size: 20px;
   font-weight: bold;
}

.ill {
   position: absolute;
   right: 870px;
   bottom: 80px;
}
.ill a {
    font-size: 20px;
   font-weight: bold;
}
.pho {
   position: absolute;
   right: 870px;
   bottom: 80px;
}
.pho a {
   font-size: 20px;
   font-weight: bold;
}
.phocolor a {
   font-weight: lighter;
}
.descolor a{
   font-weight: lighter;
}
.illcolor a{
   font-weight: lighter;
}
#contact a{
   color: darkblue
   font-weight: lighter;
}
#aboutpage {
   position: relative;
   left: 500px;
}
