#test {
   margin: auto;
}
body {
   width: 500%;
   max-height: 100%;
   overflow-y: hidden;
   box-sizing: border-box;
   overflow: auto;
}

#About {
   position: absolute;
   top: 86px;
   right: 932px;
}

a {
   text-decoration: none;
   color: black;
}

.con {
   position: absolute;
   right: 870px;
   bottom: 80px;
}
.con a {
   font-size: 20px;
   font-weight: bold;
}

.des {
      position: absolute;
   right: 870px;
   bottom: 80px;
}
.des a {
   font-size: 20px;
   font-weight: bold;
}

.ill {
   position: absolute;
   right: 870px;
   bottom: 80px;
}
.ill a {
    font-size: 20px;
   font-weight: bold;
}
.pho {
   position: absolute;
   right: 870px;
   bottom: 80px;
}
.pho a {
   font-size: 20px;
   font-weight: bold;
}
.phocolor a {
   font-weight: lighter;
}
.descolor a{
   font-weight: lighter;
}
.illcolor a{
   font-weight: lighter;
}
#contact a{
   color: darkblue
   font-weight: lighter;
}
#aboutpage {
   position: relative;
   left: 500px;
}
h1 {
   font-size: 37px;
   position: absolute;
   left: 300px;
   top: 64px;
   font-weight: lighter;

}
p {
   font-size: 30px;
   position: absolute;
   top: 200px;
   font-weight: bold;
   width: 400px;
   line-height: 35px;
}

.contactinfo  {
   position: absolute;
   margin: 0px;
   padding-left: -20px;
   left: 7px;
   color: Black;
}
.contactinfo li a {
    position: absolute;
   margin: 0px;
   padding-left: -19px;
   left: 0px;
   color: DarkMagenta;
}
#brooke {
   position: absolute;
   left: 1100px;
   top: 117px;
}

#treemarket {
      position: absolute;
   left:1700px;
   top: 117px;
}
#fish {
         position: absolute;
   left:2300px;
   top: 117px;
}
#repealgd {
   position: absolute;
   left:980px;
   top: 117px;
}
